% rebase('osnova.html')

<h1 style ='margin-left: 45%'>Cenovni rang</h1>
<form method="POST">
    <ul>
        <label style="color: black;font-weight: 500;margin-left:43%"for="cenovni_rang">Izberi:</label>
        <select name="cenovni_rang" id ="cenovni_rang">
            <option value="">--Izberi cenovni rang--</option>
            <option value="100€ ali manj">100€ ali manj / dan</option>
            <option value="100€ - 250€">100€ - 250€ / dan</option>
            <option value="250€+">250€+ / dan</option>

        </select>
        <p><button style = 'margin-left:47%' class="button button1">Išči</button></p>
    </ul>
</form>