% rebase('osnova.html')

<h1 style ='margin-left: 43%'>Glavne atrakcije</h1>
<form method="POST">
    <ul>
        <label style="color: black;font-weight: 500;margin-left:43%"for="glavne_atrakcije">Izberi:</label>
        <select name="glavne_atrakcije" id ="glavne_atrakcije">
            <option value="">--Izberi glavne atrakcije--</option>
            <option value="znamenitosti ">Znamenitosti</option>
            <option value="bližina morja">Bližina morja</option>
            <option value="parki">Parki</option>
            <option value="muzeji">Muzeji</option>
            <option value="živalski vrt">Živalski vrt</option>
            <option value="gradovi">Gradovi</option>
            <option value="kopališča">Kopališča</option>
            <option value="jezera">Jezera</option>
        </select>
        <p><button style = 'margin-left:47%' class="button button1">Išči</button></p>
    </ul>
</form>
