% rebase('osnova.html')

<h1 style ='margin-left: 45%'>Letni čas</h1>
<form method="POST">
    <ul>
        <label style="color: black;font-weight: 500;margin-left:43%" for="letni_cas">Izberi:</label>
        <select name="letni_cas" id ="letni_cas">
            <option value="">--Izberi letni čas--</option>
            <option value="Pomlad">Pomlad</option>
            <option value="Poletje">Poletje</option>
            <option value="Jesen">Jesen</option>
            <option value="Zima">Zima</option>
        </select>
        <button style = 'margin-left:47%'class="button button1">Išči</button>
    </ul>
</form>