% rebase('osnova.html')

<h1 style ='margin-left: 45%'>Namen potovanja</h1>
<form method="POST">
    <ul>
        <label style="color: black;font-weight: 500;margin-left:43%"for="namen">Izberi:</label>
        <select name="namen" id ="namen">
            <option value="">--Izberi namen potovanja--</option>
            <option value="zgodovina">Zgodovina</option>
            <option value="narava">Narava</option>
            <option value="šport">Šport</option>
            <option value="kulinarika">Kulinarika</option>
            <option value="arhitektura">Arhitektura</option>
            <option value="umetnost">Umetnost</option>
            <option value="nakupovanje">Nakupovanje</option>
            <option value="zabava">Zabava</option>
        </select>
        <button style = 'margin-left:47%' class="button button1">Išči</button>
    </ul>
</form>

