% rebase('osnova.html')

<h1 style ='margin-left: 45%'>Število dni</h1>
<form method="POST">
    <ul>
        <label style="color: black;font-weight: 500;margin-left:40%" for="st_dni">Izberi:</label>
        <select name="st_dni" id ="st_dni">
            <option value="">--Izberi število dni potovanja--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <button style = 'margin-left:47%' class="button button1">Išči</button>
    </ul>
</form>