% rebase('osnova.html')

<h1 style="margin-left: 40%;">Izbira glede na želje</h1>
<form method="POST">
    <ul style="margin-left: 20%;">
        <label style="color: black;font-weight: 500;"for="zelje">Izberi:</label>
        <label for="st_dni">Število dni:</label>
        <select name="st_dni" id ="st_dni">
            <option value="">--Izberi število dni potovanja--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <label for="letni_cas">Letni čas:</label>
        <select name="letni_cas" id ="letni_cas">
            <option value="">--Izberi letni čas--</option>
            <option value="Pomlad">Pomlad</option>
            <option value="Poletje">Poletje</option>
            <option value="Jesen">Jesen</option>
            <option value="Zima">Zima</option>
        </select>
        <label for="cenovni_rang">Cenovni rang:</label>
        <select name="cenovni_rang" id ="cenovni_rang">
            <option value="">--Izberi cenovni rang--</option>
            <option value="100€ ali manj">100€ ali manj / dan</option>
            <option value="100€ - 250€">100€ - 250€ / dan</option>
            <option value="250€+">250€+ / dan</option>
        </select>
        <p><button style ='margin-left: 35%'; class='button button1'>Išči</button></p>
    </ol></ul>
</form>